$theme-name-light: 'light';
$body-bg-light: #F3F3F4;
$form-bg-light: #F3F3F4;
$label-color-dark: #0B0909;

$theme-name-dark: 'dark';
$border-color-dark: rgb(8, 8, 8);
$label-color-light: #F3F3F4;
$form-bg-dark: #201b1a;
$body-bg-dark: #0B0909;

